{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}管理-信息{% endblock %}

{% block content %}
    <div class="page-header">
        <h3>消息
            <small class="text-muted">{{ pagination.total }}</small>
            <span class="float-right">
                <a class="btn btn-primary btn-sm" href="{{ url_for('.message_new') }}">New</a>
            </span>
        </h3>
    </div>
    {% if messages %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width:45px">No.</th>
                <th>名称</th>
                <th>内容</th>
                <th style="width:125px">操作</th>
            </tr>
            </thead>
            {% for message in messages %}
                <tr>
                    <td>{{ loop.index + ((page - 1) * config.HYYB_MESSAGE_MANAGE_PER_PAGE) }}</td>
                    <td>{{ message.designation }}</td>
                    <td><a href="{{ url_for('message.index') }}">{{ message.body|striptags|truncate(8) }}...</a></td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{{ url_for('.message_edit', message_id=message.id) }}">Edit</a>
                        <form class="inline" method="post" action="{{ url_for('.message_delete', message_id=message.id) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="return confirm('确定删除?');">Delete
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="page-footer">{{ render_pagination(pagination) }}</div>
    {% else %}
        <div class="tip"><h5>没有消息.</h5></div>
    {% endif %}
{% endblock %}
