{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block content %}
    <div class="page-header">
        <h1>消息
            <small class="text-muted">{{ pagination.total }}</small>
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-10">
            {% include 'message/_messages.html' %}
            {% if messages %}
                   <div class="page-footer">{{ render_pagination(pagination) }}</div>
            {% endif %}
        </div>
        <div class="col-sm-2 sidebar">
            {% include 'message/_sidebar.html' %}
        </div>
    </div>

{% endblock %}