{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}查看-备件{% endblock %}

{% block content %}
    <div class="page-header">
        <h3>备件
            <small class="text-muted">{{ pagination.total }}</small>
        </h3>
    </div>
        <div class="row" style="float:left;font-weight:bold">
            <form class="inline" method="post" action="{{ url_for('.spare_upload') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button type="submit"
                        onclick="return confirm('确定上传?');">导入
                </button>
        </form>
            <span style="padding-left: 10px;padding-right: 10px">|</span>
         <a href="{{ url_for('spare.spare_opt_show')}}">备件存取记录</a>
        </div>

    <div class="row" style="float:right">

        <form class="inline" method="post" action="{{ url_for('.spare_download') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button type="submit"
                    onclick="return confirm('确定导出?');">导出
            </button>
        </form>
        <span style="padding-left: 10px;padding-right: 10px">|</span>
        <form action="{{ url_for('spare.spare_view', page=1)}}" method="post" >

            {{ seek_form.csrf_token }} <!-- 渲染 CSRF 令牌隐藏字段 -->
            {{ seek_form.clear  }}
            名称：{{ seek_form.designation1 }}
            {{ seek_form.submit }}
        </form>

    </div>
    {% if spares %}

        <table  class="table table-striped table-bordered ">
            <thead>
            <tr>
                <th style="width:60px">No.</th>
                <th style="width:60px">仓库</th>
                <th>名称</th>
                <th>型号</th>
                <th style="width:60px">数量</th>

            </tr>
            </thead>
            {% for spare in spares %}
                <tr >
                    <td>{{ loop.index + ((page - 1) * config.HYYB_SPARE_PER_PAGE) }}</td>
                    <td><a href="{{ url_for('admin.show_departmentp', departmentp_id=spare.departmentp.id) }}">{{ spare.departmentp.designation }}</a></td>
                    <td><a href="{{ url_for('spare.spare_show', spare_id=spare.id) }}">{{ spare.designation }}</a></td>
                    <td>{{ spare.model }}</td>
                    <td>{{ spare.quantity }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="page-footer">{{ render_pagination(pagination) }}</div>
    {% else %}
        <div class="tip"><h5>没有备件.</h5></div>
    {% endif %}
{% endblock %}