{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}管理-隐患{% endblock %}

{% block content %}
    <div class="page-header">
        <h3>隐患
            <small class="text-muted">{{ pagination.total }}</small>
            <span class="float-right">
                <a class="btn btn-primary btn-sm" href="{{ url_for('.hazard_new') }}">New</a>
            </span>
        </h3>
    </div>
        <div class="row" style="float:right">
          <form action="{{ url_for('hazard.hazard_manage', page=1)}}" method="post" >

            {{ seek_form.csrf_token }} <!-- 渲染 CSRF 令牌隐藏字段 -->
            {{ seek_form.clear  }}
            车间：{{ seek_form.designation4 }}
            {{ seek_form.submit }}
        </form>
    </div>
    {% if hazards %}
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th style="width:50px">No.</th>
                <th style="width:60px">车间</th>
                <th>内容</th>
                <th>材料</th>
                <th>材料准备</th>
                <th>材料负责人</th>
                <th>协作人员</th>
                <th>方案</th>
                <th>负责人</th>
                <th>其他</th>
                <th style="width:60px">停车</th>
                <th style="width:130px">操作</th>

            </tr>
            </thead>
            {% for hazard in hazards %}
                <tr>
                    <td>{{ loop.index + ((page - 1) * config.HYYB_HAZARD_MANAGE_PER_PAGE) }}</td>
                    <td>{{ hazard.department.designation }}</td>
                    <td>{{ hazard.content }}</td>
                    <td>{{ hazard.material }}</td>
                    <td>{{ hazard.material_ok }}</td>
                    <td>{{ hazard.director }}</td>
                    <td>{{ hazard.cooperators }}</td>
                    <td>{{ hazard.scheme }}</td>
                    <td>{{ hazard.leader }}</td>
                    <td>{{ hazard.othr }}</td>
                    <td>{{ hazard.onstop }}</td>

                    <td>
                        <a class="btn btn-info btn-sm" href="{{ url_for('.hazard_edit', hazard_id=hazard.id) }}">Edit</a>
                        <form class="inline" method="post" action="{{ url_for('.hazard_delete', hazard_id=hazard.id) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="return confirm('确定删除?');">Delete
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="page-footer">{{ render_pagination(pagination) }}</div>
    {% else %}
        <div class="tip"><h5>没有隐患.</h5></div>
    {% endif %}
{% endblock %}