{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}查看-隐患{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>隐患
            <small class="text-muted">{{ pagination.total }}</small>

        </h1>
    </div>
    <div class="row" style="float:left">
            <form class="inline" method="post" action="{{ url_for('.hazard_upload') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button type="submit" class="btn btn-primary btn-sm"
                        onclick="return confirm('确定上传?');">导入
                </button>
        </form>
    </div>
        <div class="row" style="float:right">
            <form class="inline" method="post" action="{{ url_for('.hazard_download') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button type="submit" class="btn btn-primary btn-sm"
                    onclick="return confirm('确定导出?');">导出
            </button>
        </form>
    <span style="padding-left: 10px;padding-right: 10px">|</span>
          <form action="{{ url_for('hazard.hazard_view', page=1)}}" method="post" >

            {{ seek_form.csrf_token }} <!-- 渲染 CSRF 令牌隐藏字段 -->
            {{ seek_form.clear  }}
            车间：{{ seek_form.designation4 }}
            {{ seek_form.submit }}
        </form>
    </div>
    {% if hazards %}
        <table class="table table-striped table-bordered ">
            <thead>
            <tr>
                <th>No.</th>
                <th>车间</th>
                <th>内容</th>
                <th>材料</th>
                <th>材料准备</th>
                <th>材料负责人</th>
                <th>协作人员</th>
                <th>方案</th>
                <th>负责人</th>
                <th>其他</th>
                <th>需停车</th>


            </tr>
            </thead>
            {% for hazard in hazards %}
                <tr>
                    <td>{{ loop.index + ((page - 1) * config.HYYB_HAZARD_PER_PAGE) }}</td>
                    <td>{{ hazard.department.designation }}</td>
                    <td>{{ hazard.content }}</td>
                    <td>{{ hazard.material }}</td>
                    <td>{{ hazard.material_ok }}</td>
                    <td>{{ hazard.director }}</td>
                    <td>{{ hazard.cooperators }}</td>
                    <td>{{ hazard.scheme }}</td>
                    <td>{{ hazard.leader }}</td>
                    <td>{{ hazard.others }}</td>
                    <td>{{ hazard.onstop }}</td>


                </tr>
            {% endfor %}
        </table>
        <div class="page-footer">{{ render_pagination(pagination) }}</div>
    {% else %}
        <div class="tip"><h5>没有隐患.</h5></div>
    {% endif %}
{% endblock %}
